/* src/App.css */
.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #282c34;
  color: white;
  padding: 20px;
}
/* src/App.css */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 40px;
}

.controls svg {
  cursor: pointer;
}

.track-info {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.music-player {
  flex: 1;
  padding: 20px;
}

.controls,
.volume-control,
.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
